[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "contracts/lib/ens-contracts"]
	path = contracts/lib/ens-contracts
	url = https://github.com/ensdomains/ens-contracts
